################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/NotebookAppApi/v14/.suo
/bin/Debug/netcoreapp1.0
/obj/Debug/netcoreapp1.0
/.vs/restore.dg
/.vscode
/bin/Debug/netcoreapp1.1
/obj/Debug/netcoreapp1.1
